{% extends "photologue/root.html" %}
{% load photologue_tags i18n %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}

    <div class="row col-lg-12">
        <h1 class="page-header">{{ object.title }}</h1>
        <p class="muted"><small>опубликовано {{ object.date_added }}</small></p>
    </div>

    <div class="row" >
        <div class="col-md-12" id="img-f">
		    {% if object.caption %}<p>{{ object.caption|safe }}</p>{% endif %}
		    <a href="{{ object.image.url }}">
                <p class="fig">
		        <img src="{{ object.get_display_url }}"  alt="{{ object.title }}" id="fig" >
                </p>
		    </a>
        </div>
        <div class="slyder">
            {% if object.public_galleries %}
                <div class="slyder">
                <table align="center" id="img-slider">

                    {% for gallery in object.public_galleries %}
                        <tr>
                            <td>{% previous_in_gallery object gallery %}</td>
	                        <td> <a class="btn btn-primary" href="{{ gallery.get_absolute_url }}">назад</a></td>
	                        <td>{% next_in_gallery object gallery %}</td>
                        </tr>
					{% endfor %}

				</table>
                </div>
			{% endif %}
        </div>
    </div>

{% endblock %}
