.main-content {
    margin-top: 40px;
}
.foot {
    position: absolute;
    font-size: 10px;
    margin-left: 40%;
    margin-top: 10px;
}


h4{
    margin: 10px;
}
pre{
    box-sizing: content-box;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}
h1{
    text-align: center;
}
.form-singing-heading {
    text-align: center;
}


.col-md-3 {
    width: 25%;
}

.end_text{
    position: fixed;
    text-align: center;
    bottom: 10px;
}



.tit{
    text-align: center;
}

.item{
    height: 300px;
    margin-top: 50px;
}
.but1{
    top: 50%
}
.us{
    text-align: right;
    box-sizing: content-box;
    margin-top: -80px;
    margin-bottom: -60px;
    margin-right: 40px;
}

hr{
    border-color: #193e60;
    margin-top: 20px;
    margin-bottom: 20px;
}

.n_ph{
    text-align: center;
    color: #b2dba1;
}
#n_p{
    margin-left: 130px;
}
#n_t{
    text-align: center;
    color: #5a82c1;
    font-size: 32pt;
}
#good_title{
    text-align: left;
    color: #b2dba1;
    margin-left:50px;
}
#price_hot{
    text-align: center;
    color: #c12e2a;
    font-size: 32pt;
}
#shop_pic{
    height: 220px;
    left: 50%;
    border-radius: 10px;
}

.shop{
    border: 4px solid dimgray;
    background: #222222;
    padding: 15px;
    box-sizing: content-box;
    height: 300px;
    width: 400px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    border-radius: 10px;
}

#in_magaz{
    text-align: left;
    font-size: 20px;
    color: #269abc;
}

.onegood{
    border: 4px solid dimgray;
    background: #222222;
    padding: 15px;
    box-sizing: content-box;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;

}

#img-f{
    text-align: center;
}
.fig{
    text-align: center;
}
#img-slider{

    margin-left: 35%;
    margin-right: 35%;
    width: 350px;

}

#cat_btn{
    color: #fcf8e3;
    background: #3e8f3e;
    margin-top: 30px;
}

.shop-pr{
    border: 4px solid dimgray;
    background: #222222;
    padding: 15px;
    box-sizing: content-box;
    height: 400px;
    width: 400px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    border-radius: 10px;
}

#cat_btn1{
    color: #fcf8e3;
    background: #3e8f3e;
}
#one_pic{
    height: 500px;
    margin-left: 28%;
    margin-right: 28%;
}
#new_product{
    font-size: 32px;
    text-align: center;
    color: #dede6d;
}

.cart{
    table-layout: fixed;
    border: 4px solid dimgray;
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 15px 15px;
}
#tab_head{
    text-align: center;
}

#tab_pic{
    border-radius: 10px;
}

#nav_log{
    margin-top: 6px;
    font-size: 8pt;
}
.partners{

    text-align: center;
}

#pre-home{
    border: 4px solid #269abc;
    background: #222222;
    color: #888888;
}

.contacts {
    font-size: 13pt;
    margin-top: 55px;
}

#toTop {
width:100px;
border:1px solid #ccc;
background:#f7f7f7;
text-align:center;
padding:5px;
position:fixed;
bottom:10px; /* отступ кнопки от нижнего края страницы*/
right:10px;
cursor:pointer;
display:none;
color:#333;
font-size:11px;
border-radius: 10px;
}
#simpleform{
    margin-top: 50px;
    border: 4px solid dimgray;
    background: #222222;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}
#thenks{
    margin-top: 50px;
    border: 4px solid dimgray;
    background: #222222;
    border-radius: 10px;
}

#postform{
    padding: 15px;
}

#form_title{
    text-align: center;
}
#helptext{
    word-wrap: break-word;
}
#form-button{
    margin-top: 15px;
    border-radius: 10px;

}
#centrform {
    /*  только для col-md-5 */
    margin-top: 50px;
    border: 4px solid dimgray;
    background: #222222;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    margin-left: 29%;
}
#helptext{
    text-align: center;
    font-size: 8pt;
}
#textbox{
    width: inherit;
}