
/*   тут фоновое изображение
.full {
    background: url("https://pp.vk.me/c637331/v637331751/cf68/GCPKsVkVxB0.jpg") no-repeat fixed center center / cover ;
}
*/
.navbar-default {
    background-color: #351309;
    border-color: #351309;
}

.btn-primary {
    background-color: #351309;
    border-color: #000000;
    color: #ffffff;
}


.main-content {
    margin-top: 40px;
}
.foot {
    position: absolute;
    font-size: 10px;
    margin-left: 42%;
    margin-top: 10px;
}
a{
    color: #FF0000;
}

h4{
    margin: 10px;
}
pre{
    box-sizing: content-box;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}
h1{
    text-align: center;
}
.form-singing-heading {
    text-align: center;
}



.col-md-3 {
    width: 25%;
}

.end_text{
    position: fixed;
    text-align: center;
    bottom: 10px;
}



.tit{
    text-align: center;
}

.item{   /* карусель */
    height: 350px;
    margin-top: 15px;
}
.but1{
    top: 50%
}
.us{
    text-align: right;
    box-sizing: content-box;
    margin-top: -80px;
    margin-bottom: -60px;
    margin-right: 40px;
}

hr{
    border-color: #666666;
    margin-top: 20px;
    margin-bottom: 20px;
}

.n_ph{
    text-align: center;
    color: #351309;
}
#n_p{
    margin-left: 130px;
}
#n_t{
    text-align: center;
    color: #351309;
    font-size: 19pt;
}
#good_title{
    text-align: left;
    color: #b2dba1;
    margin-left:50px;
}
#price_hot{
    text-align: center;
    color: #FF0000;
    font-size: 29pt;
}
#shop_pic{
    margin-top: 9px;
    height: 110px;
    left: 50%;
    border-radius: 10px;
}

#good_pic {
    margin-top: 9px;
    height: 200px;
    left: 50%;
    border-radius: 10px;
}

.shop{
    border: 2px solid #999999;
    background: #e8e8e8;
    padding: 15px;
    box-sizing: content-box;
    height: 200px;
    width: 200px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 57px;
    border-radius: 10px;
}

#in_magaz{
    text-align: left;
    font-size: 20px;
    color: #269abc;
}

.onegood{
    border: 2px solid #999999;
    background: #e8e8e8;
    text-align: center;
    padding: 15px;
    box-sizing: content-box;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;

}

#img-f{
    text-align: center;
}
.fig{
    text-align: center;
}
#img-slider{

    table-layout: fixed;
    width: 47%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 15px 15px;
}

#cat_btn{
    color: #fcf8e3;
    background: #351309;
    margin-top: 30px;
}

.shop-pr{
    border: 2px solid #999999;
    background: #e8e8e8;
    padding: 15px;
    box-sizing: content-box;
    height: 360px;
    width: 400px;
    text-align: center;
    font-size: 10pt;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    border-radius: 10px;
}

#cat_btn1{
    color: #fcf8e3;
    background: #351309;
}
#one_pic{
    height: 375px;
    text-align: center;
}
#new_product{
    font-size: 29px;
    text-align: center;
    color: #5a82c1;
}

.cart{
    table-layout: fixed;
    border: 4px solid dimgray;
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 15px 15px;
}
#tab_head{
    text-align: center;
}

#tab_pic{
    border-radius: 10px;
}

#nav_log{
    margin-top: 6px;
    font-size: 8pt;
}
.partners{

    text-align: center;
}

#pre-home{
    border: 2px solid #999999;
    background: #e8e8e8;
    color: #0e0e0e;
}

.contacts {
    font-size: 13pt;
    margin-top: 55px;
}

#toTop {
width:100px;
border:1px solid #ccc;
background:#f7f7f7;
text-align:center;
padding:5px;
position:fixed;
bottom:10px; /* отступ кнопки от нижнего края страницы*/
right:10px;
cursor:pointer;
display:none;
color:#333;
font-size:11px;
border-radius: 10px;
}
#simpleform{

    border: 2px solid #999999;
    background: #e8e8e8;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    margin: 15px;
}
#thenks{
    margin-top: 50px;
    border: 2px solid #999999;
    background: #e8e8e8;
    border-radius: 10px;
}

#postform{
    padding: 15px;
}

#form_title{
    text-align: center;
}
#helptext{
    word-wrap: break-word;
}
#form-button{
    margin-top: 15px;
    border-radius: 10px;

}
#centrform {
    /*  только для col-md-5 */
    margin-top: 50px;
    border: 2px solid #999999;
    background: #e8e8e8;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    margin-left: 29%;
}
#helptext{
    text-align: center;
    font-size: 8pt;
}
#textbox{
    width: inherit;
}
#carticon{
    font-size: 14pt;
    color: #ffffff ;
}
#carthead{
    border: 3px solid #ffffcc;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    color: #ffffff ;
}
#kabinetform {
    border: 2px solid #999999;
    background: #e8e8e8;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 15px;
}
#userdata {
    text-align: left;
}
#userdatabutoon{
    text-align: right;
}

#userpic{
    border-radius: 10px;
}
#usermoveup{
margin: 4px;
}
#g_f{
    margin: 15px;
}

.order{
    table-layout: fixed;
    margin-left: 15%;
    width: 70%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 15px 15px;
    border: 1px solid black;
}
#orderbtn{
    margin-left: 78.5%;
}
