.main-content {
    margin-top: 40px;
}
.foot {
    box-sizing: content-box;
    font-size: 10px;
    position: relative;
    left: 40%;
    right: 40%;
}


h4{
    margin: 10px;
}
pre{
    box-sizing: content-box;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}
h1{
    text-align: center;
}
.form-singing-heading {
    text-align: center;
}


.col-md-3 {
    width: 25%;
}

.end_text{
    position: fixed;
    text-align: center;
    bottom: 5px;
}



.tit{
    text-align: center;
}

.item{
    height: 300px;
    margin-top: 50px;
}
.but1{
    top: 50%
}
.us{
    text-align: right;
    box-sizing: content-box;
    margin-top: -80px;
    margin-bottom: -60px;
    margin-right: 40px;
}

hr{
    border-color: #193e60;
    margin-top: 20px;
    margin-bottom: 20px;
}

.n_ph{
    text-align: center;
    color: #b2dba1;
}
#n_p{
    margin-left: 130px;
}
#n_t{
    text-align: center;
    color: #c12e2a;
    font-size: 32pt;
}
#good_title{
    text-align: left;
    color: #b2dba1;
    margin-left:50px;
}
#price_hot{
    margin-left: 150px;
    color: #c12e2a;
    font-size: 60pt;
}
#shop_pic{
    height: 220px;
    left: 50%;
    border-radius: 10px;
}

.shop{
    border: 4px solid dimgray;
    background: #222222;
    padding: 15px;
    box-sizing: content-box;
    height: 300px;
    width: 400px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    border-radius: 10px;
}

#in_magaz{
    text-align: left;
    font-size: 20px;
    color: #269abc;
}

.onegood{
    border: 4px double dimgray;
    background: #222222;
    padding: 15px;
    box-sizing: content-box;
    margin-top: 15px;
    margin-bottom: 15px;

}

#img-f{
    text-align: center;
}
.fig{
    text-align: center;
}
#img-slider{

    margin-left: 35%;
    margin-right: 35%;
    width: 350px;
    height: 150;
}

#cat_btn{
    color: #fcf8e3;
    background: #3e8f3e;
    margin-top: 30px;
}

.shop-pr{
    border: 4px solid dimgray;
    background: #222222;
    padding: 15px;
    box-sizing: content-box;
    height: 400px;
    width: 400px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    border-radius: 10px;
}

#cat_btn1{
    color: #fcf8e3;
    background: #3e8f3e;
}