{% extends 'blog/base.html' %}
{% block title %}
Sfera-Laser
{% endblock %}
{% block content %}
    <h1>This site created by Mushroom</h1>
    <p>
    <h2>Sfera-Laser inc.</h2>
    </p>
    <span>tel: 093-86-068-19
    e-mail: Avi.UpSale@gmail.com</span>
    <p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2572.9503205020164!2d24.01387431525171!3d49.84339097939623!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add75d3e4d639%3A0xebd6fc2dba4f91af!2z0KHQpNCV0KDQkC3Qm9CQ0JfQldCgINCa0J7QnNCf0JDQndCG0K8g0KLQntCS!5e0!3m2!1sru!2sua!4v1464072083394" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </p>
    <p>
    test
    <iframe width="560" height="315" src="https://www.youtube.com/embed/_AUG1YEUuGw" frameborder="0" allowfullscreen></iframe>
    </p>
{% endblock %}