{% extends 'magaz/base.html' %}
{% block title %}
Sfera-Laser
{% endblock %}
{% block content %}
    <h1>Sfera-Laser inc.</h1>

    <div class="row">
<div class="col-md-6">
    <div class="contacts">
        <p>Компания "Сфера-лазер"</p>
        <p>79016 г. Львов, ул. Шевченко, 20</p>
        <p>(032) 244-57-61, 245-05-52 моб.: 067-49-19-396 </p>
        <p>e-mail:  sferalaser@gmail.com</p>
    </div>
</div>
<div class="col-md-6">
    <iframe id="gmap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2572.9503205020164!2d24.01387431525171!3d49.84339097939623!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add75d3e4d639%3A0xebd6fc2dba4f91af!2z0KHQpNCV0KDQkC3Qm9CQ0JfQldCgINCa0J7QnNCf0JDQndCG0K8g0KLQntCS!5e0!3m2!1sru!2sua!4v1464072083394" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>
    <hr>

        <h1>Наші партнери</h1>


    {% for partner in partners %}
    <div class="row col-lg-2">
             <div class="partners">
                 <img src="{{ partner.PartnerPic.url }}" height="100px"  >
                <p>{{ partner.PartnerName }}</p>
             </div>
    </div>
    {% endfor %}
{% endblock %}