{% extends 'magaz/base.html' %}

{% block content %}
    <div id="simpleform">
<form action="{% url 'form' %}" method="post" class="form-horizontal" role="form">{% csrf_token %}
    {{ form.non_field_errors }}
	<div class="col-sm-6">
	  <label id="simpleform username" for="id_subject" class="col-sm-2 control-label">Тема:</label>
	  {{ form.username.errors }}
	  {{ form.username }}
	</div>
	<div class="col-sm-6">
	  <label for="id_sender" class="col-sm-2 control-label">E-mail:</label>
	  {{ form.sender.errors }}
	  {{ form.sender }}
	</div >
	<div class="col-sm-6" class="col-sm-2 control-label">
	  <label for="id_message" class="col-sm-2 control-label">Сообщение:</label>
	  {{ form.message.errors }}
	  {{ form.message }}
	</div>
	<div>
	  {{ form.copy.errors }}
	  <label for="id_copy" class="col-sm-2 control-label">Отправить копию себе {{ form.copy }}</label>
	</div>
	<input type="submit" value="Отправить"/>
</form>
    </div>
{% endblock %}