<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Авторизація</title>
</head>
<body>
{% extends 'magaz/base.html' %}
{% block content %}
    <h1>Авторизація</h1>
    <form id="centrform" class="col-md-5"  method="post" action="{% url 'userlogin' %}">
            {% csrf_token %}
            <br />
            <input type="text" name="username" placeholder="Ім'я користувача" id="userlogin_username" value=""  size="30" class="form-group" />
            <br />
            <input type="password" name="password" placeholder="Пароль" id="userlogin_password" value="" size="30" class="form-group" />
            <br />
            <input class="btn-success" type="submit" value="Вхід" id="form-button" />
        </form>
    </div>
{% endblock %}
</body>
</html>