<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Авторизація</title>
</head>
<body>
{% extends 'magaz/base.html' %}
{% block content %}
    <form id="simpleform" class="col-md-5"  method="post" action="{% url 'userlogin' %}">
            {% csrf_token %}
            <label for="userlogin_username">Ім"я користувача</label>
            <input type="text" name="username" id="userlogin_username" value=""  size="30" />
             <label for="userlogin_password">Пароль</label>
            <br />
            <input type="password" name="password" id="userlogin_password" value="" size="30" />
            <br />

            <input class="btn-success" type="submit" value="Вхід" />
        </form>

{% endblock %}
</body>
</html>