<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Кабінет</title>
</head>
<body>
{% extends 'magaz/base.html' %}
{% block content %}
    <p><strong> Ім'я: </strong> {{ user.username }}</p>
    <p><strong> Електронна адреса: </strong>{{ user.email }}</p>

    <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                Зміна данних
              </a>
            </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <form class="form-group-lg" action="{% url 'cabinet' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ cabinet_form.as_p }}
            <input type="submit" name="submit" value="change" />
        </form>
      </div>
    </div>
    </div>
    </div>

    <p>
    {{ user.myuser.avatar }}
    </p>


{% endblock %}
</body>
</html>