<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Кабінет</title>
</head>
<body>
{% extends 'magaz/base.html' %}
{% block content %}
    <p><strong> Ім'я: </strong> {{ user.username }}</p>
    <p><strong> Електронна адреса: </strong>{{ user.email }}</p>

        <form class="form-group" action="{% url 'cabinet' %}" method="post">
        {% csrf_token %}
        {{ cabinet_form.as_p }}
        <input type="submit" name="submit" value="change" />
        </form>



{% endblock %}
</body>
</html>