<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Кабінет</title>
</head>
<body>
{% extends 'magaz/base.html' %}
{% load staticfiles %}
{% block content %}
    <h1>Особистий кабінет</h1>
    <hr>
     <div id="kabinetform" class="col-md-4">
     <h4>Особисті данні</h4>
     <hr>
    <p><strong> Ім'я  </strong> {{ user.username }}</p>
    <p><strong> Електронна адреса  </strong>{{ user.email }}</p>
     <div id="userdata">
    <p><strong> Сайт </strong> {{ user.siteuser.site }}
        {% if user.siteuser.site %}
            <button class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#myModal" id="userdatabutoon">
                змінити
            </button>
        {% else %}
            <button class="btn btn-success btn-xs pull-right" data-toggle="modal" data-target="#myModal" id="userdatabutoon">
                додати
            </button>
        {% endif %}
    </p>
    <!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Сайт</h4>
      </div>
      <div class="modal-body">
       <form class="form" action="{% url 'siteform' %}" method="post"  id="kabinetform">
            {% csrf_token %}
            {{ sif }}
            <input type="submit" value="збрегти" class="btn btn-primary btn-sm" />
       </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
      </div>
    </div>
  </div>
</div>

    <p><strong> Skype </strong> {{ user.skypeuser.skype }}
        {% if user.skypeuser.skype %}
            <button class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#myModal1">
                змінити
            </button>
        {% else %}
            <button class="btn btn-success btn-xs pull-right" data-toggle="modal" data-target="#myModal1">
                додати
            </button>
        {% endif %}
    </p>
     <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel1">Skype</h4>
      </div>
      <div class="modal-body">
      <form class="form" action="{% url 'skypeform' %}" method="post"  id="kabinetform">
            {% csrf_token %}
            {{ skf }}
            <input type="submit" value="зберегти" class="btn btn-primary btn-sm" />
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
      </div>
    </div>
  </div>
</div>


    <p><strong> Професія </strong> {{ user.professionaluser.profession }}
        {% if user.professionaluser.profession %}
            <button class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#myModal2">
                змінити
            </button>
        {% else %}
            <button class="btn btn-success btn-xs pull-right" data-toggle="modal" data-target="#myModal2">
                додати
            </button>
        {% endif %}
    </p>
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel2">Професія</h4>
      </div>
      <div class="modal-body">
        <form class="form" action="{% url 'professionform' %}" method="post"  id="kabinetform">
            {% csrf_token %}
            {{ prf }}
            <input type="submit" value="зберегти" class="btn btn-primary btn-sm" />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
      </div>
    </div>
  </div>
</div>


    <p><strong> Номер Телефону </strong> {{ user.numbuser.numb }}
        {% if user.numbuser.numb %}
            <button class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#myModal3">
                змінити
            </button>
        {% else %}
            <button class="btn btn-success btn-xs pull-right" data-toggle="modal" data-target="#myModal3">
                додати
            </button>
        {% endif %}
    </p>
     <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel3">Номер телефону</h4>
      </div>
      <div class="modal-body">
        <form class="form" action="{% url 'numbform' %}" method="post"  id="kabinetform">
            {% csrf_token %}
            {{ nmf }}
            <input type="submit" value="зберегти" class="btn btn-primary btn-sm" />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
      </div>
    </div>
  </div>
</div>


    <p><strong> Про себе </strong> {{ user.aboutuser.about }}
        {% if user.aboutuser.about %}
            <button class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#myModal4">
                змінити
            </button>
        {% else %}
            <button class="btn btn-success btn-xs pull-right" data-toggle="modal" data-target="#myModal4">
                додати
            </button>
        {% endif %}
    </p>
     <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel4">Інформація про себе</h4>
      </div>
      <div class="modal-body">
        <form class="form-inline" action="{% url 'aboutform' %}" method="post"  id="kabinetform">
            {% csrf_token %}
            {{ abf }}
            <input type="submit" value="зберегти" class="btn btn-primary btn-sm" />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
      </div>
    </div>
  </div>
</div>
      <p><strong> Зображення профілю </strong>
        {% if user.avataruser.avatar %}
            <button class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#myModal5">
                змінити
            </button>
        {% else %}
            <button class="btn btn-success btn-xs pull-right" data-toggle="modal" data-target="#myModal5">
                додати
            </button>
        {% endif %}
    </p>
     <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel5">Зображення профілю</h4>
      </div>
      <div class="modal-body">
        <form class="form" action="{% url 'avatarform' %}" method="post"  id="kabinetform" enctype="multipart/form-data">
            {% csrf_token %}
            {{ avf }}
            <input type="submit" value="зберегти" class="btn btn-primary btn-sm" />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
      </div>
    </div>
  </div>
</div>
     </div>
     </div>

     <div id="kabinetform" class="col-md-4">
     <h4>Історія покупок</h4>
     <hr>
     <p> Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
     </div>
    <div class="col-md-3 pull-right" id="kabinetform">

        {% if user.avataruser.avatar %}
            <img src="{{ user.avataruser.avatar.url }}" width="200" id="userpic">
        {% else %}
            <img src="{% static 'blog/default_user.png' %}" width="200" id="userpic">
        {% endif %}
    </div>
    <div class="row"></div>
{% endblock %}
</body>
</html>