<!DOCTYPE html>
<html>
{% extends 'magaz/base.html' %}
<head lang="en">
    <meta charset="UTF-8">
    {% block title %}{{ prices.good_name }}{% endblock %}
</head>
<body>
{% block content %}
    <div class="onegood">
     <img src="{{ prices.pic.url }}" id="one_pic">
<h4 id="new_product">{{ prices.good_name }}</h4>
<h4>{{ prices.good_about }}</h4>
<h4 id="price_hot">{{ prices.good_price }} Грн</h4>
    {% if prices.in_magaz %}
        <p> есть в наличии</p>
    {% else  %}
        <p> нет на складе</p>
    {% endif %}
    <hr>
    <p>Акция!</p>
    <p>дешевле не бывает!!</p>
    {% for prices in p_f %}
       <p> {{ prices.good_name }} {{ prices.good_price }} UAH</p>
    {% endfor %}
    </div>
{% endblock %}
</body>
</html>