{% extends 'magaz/base.html' %}
{% block content %}
<h1>Оформлення замовлення</h1>
     <table class="order"  >

        <tbody>
        {% for item in cart %}
            {% with prise=item.prise %}
            <tr>
                <td>{{ prise.good_name }}</td>
                <td>{{ item.quantity }} Шт</td>
                <td>{{ item.good_price }} Грн</td>
            </tr>
            {% endwith %}

        {% endfor %}
        <tr>
            <td>Загална сумма</td>
            <td colspan="1"></td>
            <td >{{ cart.get_total_price }} Грн</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right"></p>
    {% if user.is_authenticated %}
    <div id="orderbtn">
        <form class="form-inline" action="{% url 'order' %}" method="post" >
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="оплатити" class="btn btn-primary btn-sm" />
        </form>
    {% endif %}
    </div>

    <div id="simpleformorder" >
        <form method="post" action="{% url 'of' %}" class="form-horizontal" id="orderform">
        {% csrf_token %}
            <div class="form-group">
	            <label for="id_clientname" > Ім'я &#42;</label>
	            {{ of.clientname }}
            </div>

            <div class="form-group">
	            <label for="id_clientsorganization" > Организація</label>
	            {{ of.clientsorganization }}
            </div>

            <div class="form-group">
	            <label for="id_clientsnumb" > Номер телефону &#42;</label>
	            {{ of.clientsnumb }}
            </div>

            <div class="form-group">
	            <label for="id_clientmail" > E-mail</label>
	            {{ of.clientmail }}
            </div>

            <div class="form-group">
	            <label for="id_clientdevelop" > Спосіб доставки</label>
	            {{ of.clientdevelop }}
            </div>

            <div class="form-group">
	            <label for="clientcomment" > Коментарій до замовлення</label>
	            {{ of.clientcomment }}
            </div>

        <input type="submit" value="Відправити"/>
        </form>
    </div>


{% endblock %}