{% extends 'magaz/base.html' %}
{% block content %}
<h1>Оформлення замовлення</h1>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Оформлення замовлення</h4>
      </div>
      <div class="modal-body">

                  <form class="form-inline" action="{% url 'order' %}" method="post" >
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="оплатити" class="btn btn-primary btn-sm" />
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
jQuery(document).ready(function($) {
    $('#myModal').modal('show');
});
</script>


     <table class="order"  >

        <tbody>
        {% for item in cart %}
            {% with prise=item.prise %}
            <tr>
                <td>{{ prise.good_name }}</td>
                <td>{{ item.quantity }} Шт</td>
                <td>{{ item.good_price }} Грн</td>
            </tr>
            {% endwith %}

        {% endfor %}
        <tr>
            <td>Загална сумма</td>
            <td colspan="1"></td>
            <td >{{ cart.get_total_price }} Грн</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right"></p>
    <div id="orderbtn">

    </div>
{% endblock %}