{% extends 'magaz/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
   {% block title %}
   LASER_SHOP
   {% endblock %}
</head>

<body>
{% block content %}
<h1 id="good_title">Очень нужные товары</h1>
    <hr>
    {% for prices in goods %}

        <div class="row col-lg-6">
             <div class="shop">
                <img src="{{ prices.pic.url }}" id="shop_pic">
                <h4><a href="{% url 'prices' prices.id %}">{{ prices.good_name }}</a></h4>
                <p>{{ prices.good_about }}</p>
                <p id="mass_price">{{ prices.good_price }} Грн.</p>
                <p><a class="btn btn-default" href="{% url 'prices' prices.id %}" role="button"> Хочу купить!!!</a></p>
             </div>
        </div>

    {% endfor %}
{% endblock %}
</body>
</html>