{% extends 'magaz/base.html' %}
{% load staticfiles %}
{% block title %}LASER_SHOP{% endblock %}
{% block content %}
<h1> Категорії товарів </h1>
    <hr>
     {% for category in categories %}

        <div class="row col-lg-3">
             <div class="shop">
                <img src="{{ category.cat_pic.url }}" id="shop_pic">
                 <p><a class="btn btn-default" id="cat_btn" href="{% url 'category' category.slag_url %}" role="button">{{ category.cat_name }} </a></p>
             </div>
        </div>

    {% endfor %}

{% endblock %}