@import url(https://fonts.googleapis.com/css?family=Didact+Gothic&subset=latin,cyrillic);

h1{
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
    font-size: 50pt;
}

img{
    text-align:center;
}
.img_centr{
    text-align: center;
}

h3{
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
    font-size: 30pt
}

li {
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
    font-size: 18pt
}

li a {
    color: green;
}
body {
    background: white url("images/background.jpg") repeat ;
}
