{% extends "magaz/base.html" %}
{% load static %}

{% block title %} кошик {% endblock %}

{% block content %}
    <h1>Ваш Кошик</h1>
    <table class="cart"  >
        <thead>
            <tr>

                <th></th>
                <th id="tab_head">Товар</th>
                <th id="tab_head">Видалити</th>
                <th id="tab_head">Ціна</th>
                <th id="tab_head">Загальна ціна</th>
            </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with prise=item.prise %}
            <tr>
                <td>
                    <img id="tab_pic" src="{{ prise.pic.url }}" height="150px">
                </td>
                <td>{{ prise.good_name }}</td>

                <td><a class="btn btn-danger" id="tab_btn" href="{% url "cart1:cart_remove" prise.id %}" role="button">Видалити</a></td>
                <td class="num">{{ item.good_price }} Uah</td>
                <td class="num">{{ item.total_good_price }} Uah</td>
            </tr>
            {% endwith %}

        {% endfor %}
        <tr class="total">
            <td>Загална сумма</td>
            <td colspan="4"></td>
            <td class="num">{{ cart.get_total_price }} Uah</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">

    </p>
{% endblock %}