{% extends "magaz/base.html" %}
{% load static %}

{% block title %} кошик {% endblock %}

{% block content %}
    <h1>Ваш Кошик</h1>
    <table class="cart"  >
        <thead>
            <tr>

                <th></th>
                <th id="tab_head">Товар</th>
                <th id="tab_head">Ціна</th>
                <th id="tab_head">Кількість</th>
                <th id="tab_head">Загальна ціна</th>
                <th id="tab_head"></th>
            </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with prise=item.prise %}
            <tr>
                <td>
                    <img id="tab_pic" src="{{ prise.pic.url }}" height="117px">
                </td>
                <td>{{ prise.good_name }}</td>
                {% if val.userdata.valute == 'usd' %}
                        <td class="num">{{ prise.get_dolar }} $</td>
                 {% else %}
                     <td class="num">{{ item.good_price }} Грн</td>
                 {% endif %}

                <td class="num">{{ item.quantity }} Шт</td>
                {% if val.userdata.valute == 'usd' %}
                       <td class="num">{{ item.dolar_total_price }} $</td>
                 {% else %}
                     <td class="num">{{ item.total_good_price }} Грн</td>
                 {% endif %}


                <td><a class="btn btn-danger btn-sm" id="tab_btn" href="{% url "cart1:cart_remove" prise.id %}" role="button">
                    <span class="glyphicon glyphicon-remove"></span>
                </a></td>
            </tr>
            {% endwith %}

        {% endfor %}
        <tr class="total">
            <td colspan="5"></td>
            {% if val.userdata.valute == 'usd' %}
                     <td class="num">Загална сумма: <p>{{ cart.get_dolar_total_price }} $</p></td>
                 {% else %}
                     <td class="num">Загална сумма: <p>{{ cart.get_total_price }} Грн</p></td>
                 {% endif %}

        </tr>
        </tbody>
    </table>
    <p class="text-right"></p>

    <div class="pull-right">
        <a class="btn btn-primary" href="{% url 'order' %}">оформити замовлення</a>
    </div>
{% endblock %}