{% extends "magaz/base.html" %}
{% block title %}
rega
{% endblock %}
{% block content %}
<h1>Регистрация</h1>
<form method="post" id="simpleform" action="" class="form-horizontal">
{% csrf_token %}
<dl class="register">
{% for field in form %}
    <dt>{{ field.label_tag }}</dt>
    <dd class="clearfix" id="helptext">{{ field }}
    {% if field.help_text %}<div class="clearfix" id="helptext">{{ field.help_text }}</div>{% endif %}
    {% if field.errors %}<div class="myerrors clearfix" id="helptext">{{ field.errors }}</div>{% endif %}
    </dd>
{% endfor %}
</dl>
<input class="btn-success" type="submit" value="Зарегистрироваться" / class="clearfix">
</form>
{% endblock %}